[[expose_redirect]]
addr = "0.0.0.0:80"
to = "https://{host}{uri}"
status = 301

[[expose_service]]
addr = "127.0.0.1:8443"
tls = { cert = "./integration-tests/certs/server.pem", key = "./integration-tests/certs/server.key" }
enable_http2 = true
strategy = "round_robin"

[[expose_service.route]]
path = "/api"

[[expose_service.route]]
path = "/ws"
enable_websocket = true
ws_max_connections = 10_000

[[expose_service.backend]]
tcp = { addr = "127.0.0.1:3443" }
weight = 1

[[expose_service.backend]]
tcp = { addr = "127.0.0.1:3444" }
weight = 1

[[expose_service.backend]]
unix = { sock = "/tmp/snakeway-http" }
weight = 1

